<?xml version="1.0"?>
<!--
/**
 * @author  Kallel Khaled
 * @created 2025-12-19
 * @package Melkart_ProductAuditLog
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_audit_log>
            <general>
                <enable>1</enable>
            </general>
            <product_logger_options>
                <enable_product_trace>1</enable_product_trace>
                <enable_admin_trace>0</enable_admin_trace>
                <product_excluded_attributes>created_at,media_gallery,quantity_and_stock_status,updated_at</product_excluded_attributes>
                <product_website_ids>0</product_website_ids>
            </product_logger_options>
        </product_audit_log>
    </default>
</config>
